In [ ]:
# Q NO : 01

In [ ]:
my_string = "PW Skill"

In [2]:
my_string

'PW Skill'

In [3]:
my_list = [12,34,45.98,True,4+7j,"pwskill"]

In [4]:
my_list

[12, 34, 45.98, True, (4+7j), 'pwskill']

In [5]:
my_float = 45.345

In [6]:
my_float

45.345

In [7]:
my_tuple = (12,34,45.46,"pwskill",True,False,4+4j)

In [8]:
my_tuple

(12, 34, 45.46, 'pwskill', True, False, (4+4j))

In [ ]:
# Q NO : 02

In [ ]:
"""  Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.   """
# Answer

"""(i) var1 is a string variable with an empty string as its value.
(ii) var2 is a string variable that contains a list of strings, but it is still a string data type and not a list data type.
(iii) var3 is a list variable that contains three strings.
(iv) var4 is a float variable with a value of 1.0.  """

In [ ]:
# Q NO : 03

In [ ]:
"""Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **    """
#Answer
"""
Sure, here's an explanation of the four operators you asked for along with examples:

(i) / operator is used for division operation between two operands. It returns a float value as the result.

(ii) % operator is used for modulo operation between two operands. It returns the remainder of the division.

(iii) // operator is used for integer division operation between two operands. It returns the quotient of the division as an integer value.

(iv) ** operator is used for exponentiation operation between two operands. It returns the value of the first operand raised to the power of the second operand."""

In [11]:
 #division
x = 10
y = 3
z = x / y
print(z)

3.3333333333333335

In [12]:
# modulo
x = 10
y = 3
z = x % y
print(z)

1

In [13]:
# integer division
x = 10
y = 3
z = x // y
print(z)

3

In [15]:
x = 2
y = 3
z = x ** y
print(z)

8

In [ ]:
# Q NO : 04

In [18]:
"""Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.  """
my_list = [10,20,20.20,30.35,'a','d',"pwskill",True,False,4+9j,]
for i in my_list :
    print(i)

10
20
20.2
30.35
a
d
pwskill
True
False
(4+9j)

In [ ]:
# Q NO : 05

In [6]:
"""Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible. """
A = int(input("Enter the value of A : "))
B = int(input("Enter the value of B : "))
if A % B == 0:
    print("A is purely divisible by B")
    print("total number of divisible is ",A//B)
else:
    print("A is not purely divisible by B")

Enter the value of A :  78
Enter the value of B :  5

A is not purely divisible by B

In [ ]:
# Q NO : 06

In [34]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not. """
list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list :
    if i % 3 ==0 :
        print(i,"is divisible by three" )
    else :
        print(i,"is not divisible by three" )

1 is not divisible by three
2 is not divisible by three
3 is divisible by three
4 is not divisible by three
5 is not divisible by three
6 is divisible by three
7 is not divisible by three
8 is not divisible by three
9 is divisible by three
10 is not divisible by three
11 is not divisible by three
12 is divisible by three
13 is not divisible by three
14 is not divisible by three
15 is divisible by three
16 is not divisible by three
17 is not divisible by three
18 is divisible by three
19 is not divisible by three
20 is not divisible by three
21 is divisible by three
22 is not divisible by three
23 is not divisible by three
24 is divisible by three
25 is not divisible by three

In [ ]:
# Q NO : 07

In [35]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property."""
# Answer
"""
In Python, data types can be classified into two categories: mutable and immutable.

Immutable data types cannot be changed after they are created. If you modify an immutable object,
a new object is created in memory. Examples of immutable data types in Python include integers, floats, booleans, and strings.

Mutable data types can be modified after they are created. This means that if you modify a mutable object, 
the original object is modified in place, without creating a new object. Examples of mutable data types in Python include lists, dictionaries, and sets """

In [36]:
# Immutable data type example
string = "MD Wajid"

In [37]:
string

'MD Wajid'

In [38]:
string[0] = 'P'

TypeError: 'str' object does not support item assignment

In [39]:
# Mutable data type example
list = [23,34,45,56]

In [40]:
list

[23, 34, 45, 56]

In [41]:
list[0] = 44
list[1] = 50

In [42]:
list

[44, 50, 45, 56]