# ASSIGNMENT NO :- 04

## Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.
## [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [28]:
data =  [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted(data ,key=lambda x:x[1])

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [16]:
sorted_data = sorted(data ,key=lambda x:x[1])

In [17]:
sorted_data

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

## Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
## [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
list(map(lambda x : x**2 ,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
 1. Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 2. Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [22]:
list_str = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
tuple(map(lambda x :str(x) ,list_str))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [26]:
tuple_str = tuple(map(lambda x :str(x) ,list_str))

In [27]:
tuple_str

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [31]:
for i in range(1,26):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [34]:
from functools import reduce

In [35]:
reduce(lambda x,y:x*y,range(1,26))

15511210043330985984000000

In [44]:
from functools import reduce
lst = list(range(1,26))
prod = reduce(lambda x,y:x*y,range(1,26))
print("product = ",prod)

product =  15511210043330985984000000

# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
 1. [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [45]:
lst = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [46]:
filter(lambda x:x%2==0 and x%3==0 ,lst)

In [47]:
list(filter(lambda x:x%2==0 and x%3==0 ,lst))

[6, 60, 90, 120]

# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
 ['python', 'php', 'aba', 'radar', 'level']

In [48]:
l = ['python', 'php', 'aba', 'radar', 'level']

In [50]:
filter(lambda x: x==x[::-1],l)

In [51]:
list(filter(lambda x: x==x[::-1],l))

['php', 'aba', 'radar', 'level']