# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

# Answer :->

In [1]:
import pandas as pd

In [2]:
data = [4, 8, 15, 16, 23, 42]

In [3]:
data

[4, 8, 15, 16, 23, 42]

In [4]:
pd.Series(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
type(series)

pandas.core.series.Series

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
# Answer :->

In [7]:
my_list = [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]
series = pd.Series(my_list)
print(series)

0     11
1     22
2     33
3     44
4     55
5     66
6     77
7     88
8     99
9    100
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:
### 'Name': ['Alice', 'Bob', 'Claire'],
### 'Age': [25, 30, 27],
### 'Gender': ['Female', 'Male', 'Female']
## Then, print the DataFrame.

# Answer :->

In [8]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

In [9]:
type(data)

dict

In [10]:
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

# Answer :->

### In Pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It can be thought of as a spreadsheet or SQL table. A DataFrame contains data in rows and columns, where each column can have a different data type.

### On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, etc.). It's like a single column of data or a single-dimensional array. Series objects have an index that labels each element in the array.

### Here's an example illustrating the difference between a DataFrame and a Series:

## DataFrame Example:

In [11]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [12]:
# Series Example:
ages = pd.Series([25, 30, 27])
print("Series:")
print(ages)

Series:
0    25
1    30
2    27
dtype: int64

### In the DataFrame example, we create a table-like structure with columns ('Name', 'Age', 'Gender') where each column can hold different types of data. Meanwhile, in the Series example, we have a one-dimensional labeled array holding just the 'Age' data without any column names.

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

# Answer :->

### Pandas provides a wide range of functions for manipulating data within a DataFrame. Some common functions include:

1. head() and tail(): These functions allow you to view the first or last few rows of the DataFrame, which is helpful for quick data inspection.

2. info(): This function provides a concise summary of the DataFrame, including the data types, number of non-null values, and memory usage. It's useful for understanding the structure of the DataFrame.

3. describe(): It generates descriptive statistics (count, mean, standard deviation, etc.) for numerical columns in the DataFrame, providing insights into the distribution of the data.

4. set_index() and reset_index(): These functions allow you to set or reset the DataFrame index, which is useful for changing the row labels or setting a specific column as the index.

5. loc[] and iloc[]: These are used for selection and indexing. loc[] selects data by label, allowing you to access rows and columns by their labels, while iloc[] selects data by position, allowing you to access rows and columns by their integer position.

6. drop(): It enables dropping rows or columns from the DataFrame based on specified labels or index. This function helps in removing unnecessary data.

7. fillna() and dropna(): These functions are used for handling missing data. fillna() replaces missing values with specified values, while dropna() drops rows or columns with missing values.

8. groupby(): It's used for grouping data based on specified criteria, enabling aggregation, transformation, or other operations on grouped data.

#### For example, we are use the groupby() function where  analyzing sales data to group the data by region and calculate the total sales in each region. This allows us to gain insights into which regions are performing better or worse in terms of sales. Here's a simplified example:

# Sample sales data
data = {
    'Region': ['A', 'B', 'A', 'B', 'A'],
    'Sales': [100, 150, 120, 80, 90]
}

df = pd.DataFrame(data)

# Grouping by 'Region' and calculating total sales in each region
sales_by_region = df.groupby('Region')['Sales'].sum()
print(sales_by_region)

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

# Answer :->

### Among Series, DataFrame, and Panel in Pandas, the DataFrame is the mutable data structure, meaning it can be modified after creation. Both Series and DataFrame are fundamental data structures in Pandas, while the Panel has been deprecated in favor of using multi-dimensional DataFrames or other data structures that can handle higher-dimensional data.

### A DataFrame's mutability allows for various operations such as adding or removing columns, updating values within the DataFrame, changing the index, appending rows, etc. This mutability makes DataFrames quite flexible for data manipulation and analysis tasks.

### On the other hand, Series and Panel (deprecated) are relatively less mutable compared to DataFrames. While you can perform operations like appending new elements to a Series or modifying existing elements, the structural changes are more limited compared to DataFrames. With the deprecation of Panel, multi-dimensional data is now handled more efficiently using DataFrames or other data structures.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

# answer :->

In [15]:
# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

In [16]:
# Creating a DataFrame using the multiple Series
data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}

In [17]:
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#   ----------------------------- Thank You------------------------------