## Consider following code to answer further questions:

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

## Q1. Write a code to print the data present in the second row of the dataframe, df.

### Answer :->

In [3]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [4]:
print(df.loc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

## Answer :->

### The loc and iloc functions in pandas DataFrame are used for indexing and selecting data, but they differ in their methods of selection:

# loc (label-based selection):

1. It is used for selection based on labels (row and column names).
2. You provide the actual labels of the rows and columns to extract the data.
3. It includes both the start and stop indices specified in the selection.
4. The syntax is df.loc[row_label, column_label] or df.loc[row_label] for selecting entire rows.

In [5]:
df.loc[1]  # Selects the row with label 1

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# iloc (integer-location based selection):

1. It is used for selection based on integer indices (row and column positions).
2. You provide the integer positions of the rows and columns to extract the data.
3. It includes the start index but excludes the stop index specified in the selection.
4. The syntax is df.iloc[row_index, column_index] or df.iloc[row_index] for selecting entire rows.

In [6]:
df.iloc[1]  # Selects the row at integer position 1

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

#### In summary, the primary difference lies in whether you're specifying selections using labels (loc) or integer positions (iloc). Both can be used to achieve similar results, but the choice depends on whether you want to reference rows and columns by their labels or their integer positions.

## Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
## Did you observe any difference in both the outputs? If so then explain it.
## Consider the below code to answer further questions:

In [7]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Reindexing with the given order
reindex_order = [3, 0, 1, 2]
new_df = df.reindex(reindex_order)

# Output for new_df.loc[2]
print("Output for new_df.loc[2]:")
print(new_df.loc[2])

# Output for new_df.iloc[2]
print("\nOutput for new_df.iloc[2]:")
print(new_df.iloc[2])

Output for new_df.loc[2]:
course_name    Big Data
duration              6
Name: 2, dtype: object

Output for new_df.iloc[2]:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [8]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [9]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.243394  0.019933  0.070268  0.716221  0.495714  0.601168
2  0.659150  0.778837  0.045484  0.178517  0.138462  0.904521
3  0.981297  0.283620  0.549045  0.263769  0.667886  0.173880
4  0.700198  0.777450  0.110992  0.933253  0.573484  0.942195
5  0.492931  0.563614  0.899303  0.217062  0.050420  0.102885
6  0.257355  0.517199  0.861662  0.795928  0.312070  0.412206

## Q4. Write a code to find the following statistical measurements for the above dataframe df1:
## (i) mean of each and every column present in the dataframe.
## (ii) standard deviation of column, ‘column_2’

## Answer :->

In [10]:
# (i) Mean of each and every column
mean_values = df1.mean()
print("Mean of each column:")
print(mean_values)

Mean of each column:
column_1    0.555721
column_2    0.490109
column_3    0.422792
column_4    0.517459
column_5    0.373006
column_6    0.522809
dtype: float64

In [11]:
# (ii) Standard deviation of column 'column_2'
std_deviation_column_2 = df1['column_2'].std()
print("\nStandard Deviation of column 'column_2':", std_deviation_column_2)

Standard Deviation of column 'column_2': 0.29521813049884965

## Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
## If you are getting errors in executing it then explain why.
## [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

## Answer :->

In [12]:
# Replace the data in the second row of 'column_2' with a string variable
replacement_value = 'your_string_data'
df1.loc[2, 'column_2'] = replacement_value

# Convert the column to numeric (if needed)
df1['column_2'] = pd.to_numeric(df1['column_2'], errors='coerce')

# Find the mean of 'column_2'
mean_column_2 = df1['column_2'].mean()
print("Mean of column 'column_2':", mean_column_2)

Mean of column 'column_2': 0.43236324741339105

## Q6. What do you understand about the windows function in pandas and list the types of windows functions?
## Answer :->

###  In pandas, window functions are operations that perform a computation on a specified subset of data called a "window" or "rolling window." These functions are particularly useful for time-series data and other ordered data where you want to perform calculations over a moving or fixed-size window of observations.

## Here are some key aspects of window functions in pandas:
1. Rolling Windows:
2. Expanding Windows:
3. Exponential Moving Windows:
4. Aggregating Windows:
5. Window Functions with GroupBy:

## Q7. Write a code to print only the current month and year at the time of answering this question. [Hint: Use pandas.datetime function]

## Answer :->

In [14]:
import pandas as pd

# Get the current date
current_date = pd.to_datetime('today')

# Extract the current month and year
current_month = current_date.month
current_year = current_date.year

# Print the result
print(current_date)
print(f"Current Month: {current_month}, Current Year: {current_year}")

2024-01-12 17:11:47.239466
Current Month: 1, Current Year: 2024

### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

## Answer :->

In [16]:
import pandas as pd

def calculate_time_difference(date1, date2):
    # Convert the input strings to pandas datetime objects
    datetime1 = pd.to_datetime(date1, format='%Y-%m-%d')
    datetime2 = pd.to_datetime(date2, format='%Y-%m-%d')

    # Calculate the time difference
    time_difference = datetime2 - datetime1

    # Extract days, hours, and minutes
    days = time_difference.days
    hours, remainder = divmod(time_difference.seconds, 3600)
    minutes, _ = divmod(remainder, 60)

    return days, hours, minutes

# Get user input for two dates
date_input1 = input("Enter the first date (YYYY-MM-DD): ")
date_input2 = input("Enter the second date (YYYY-MM-DD): ")

# Calculate time difference
days_diff, hours_diff, minutes_diff = calculate_time_difference(date_input1, date_input2)

# Display the result
print(f"\nTime Difference:\nDays: {days_diff}\nHours: {hours_diff}\nMinutes: {minutes_diff}")

Enter the first date (YYYY-MM-DD):  2023-01-26
Enter the second date (YYYY-MM-DD):  2023-08-15

Time Difference:
Days: 201
Hours: 0
Minutes: 0

## Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

## Answer:->

In [17]:
import pandas as pd

def convert_to_categorical(dataframe, column_name, category_order):
    # Convert the specified column to categorical with custom category order
    dataframe[column_name] = pd.Categorical(dataframe[column_name], categories=category_order, ordered=True)

def main():
    # Prompt the user for the file path
    file_path = input("Enter the CSV file path: ")

    # Read the CSV file
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("File not found. Please check the file path and try again.")
        return

    # Display the original data
    print("\nOriginal Data:")
    print(df)

    # Prompt the user for the column name
    column_name = input("\nEnter the column name to convert to categorical: ")

    # Check if the column exists in the DataFrame
    if column_name not in df.columns:
        print(f"Column '{column_name}' not found in the DataFrame.")
        return

    # Prompt the user for the category order
    category_order = input("\nEnter the category order (comma-separated): ").split(',')

    # Convert the specified column to categorical
    convert_to_categorical(df, column_name, category_order)

    # Display the sorted data based on the categorical column
    sorted_data = df.sort_values(by=column_name)
    print(f"\nSorted Data based on '{column_name}':")
    print(sorted_data)

if __name__ == "__main__":
    main()

Enter the CSV file path:  cricket_dat.csv

Original Data:
    Unnamed: 0  Year        Champions
0            0  1975      West Indies
1            1  1979  West Indies (2)
2            2  1983            India
3            3  1987        Australia
4            4  1992         Pakistan
5            5  1996        Sri Lanka
6            6  1999    Australia (2)
7            7  2003    Australia (3)
8            8  2007    Australia (4)
9            9  2011        India (2)
10          10  2015    Australia (5)
11          11  2019          England
12          12  2023    Australia (6)

Enter the column name to convert to categorical:  Year

Enter the category order (comma-separated):  3

Sorted Data based on 'Year':
    Unnamed: 0 Year        Champions
0            0  NaN      West Indies
1            1  NaN  West Indies (2)
2            2  NaN            India
3            3  NaN        Australia
4            4  NaN         Pakistan
5            5  NaN        Sri Lanka
6            6  NaN    Australia (2)
7            7  NaN    Australia (3)
8            8  NaN    Australia (4)
9            9  NaN        India (2)
10          10  NaN    Australia (5)
11          11  NaN          England
12          12  NaN    Australia (6)

In [ ]:
## ---------------------------------                THANK YOU                 -------------------------------------------