# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

## Answer :->
###  MongoDB is a popular NoSQL (non-relational) database management system. It differs from traditional SQL databases in several key ways:

1. Data Model: MongoDB uses a flexible, schema-less document data model, where data is stored in JSON-like documents called BSON (Binary JSON). This means each document in a collection can have different fields and structures, allowing for more dynamic and evolving data schemas.

2. Scalability: MongoDB is designed to scale horizontally, making it suitable for handling large amounts of data and high traffic loads. You can add more servers to distribute the workload as your application grows.

3. Complex Data: It can handle complex data structures like nested arrays and documents, which can be challenging to represent in a traditional relational database.

4. Performance: MongoDB can offer excellent read and write performance for certain use cases, especially when dealing with unstructured or semi-structured data.

5. Agile Development: MongoDB is often favored in Agile development environments where requirements change frequently because it allows developers to adapt the data model quickly.

## Scenarios where MongoDB is preferred over SQL databases:

1. Unstructured or Semi-Structured Data: When dealing with data that doesn't fit neatly into tables with predefined schemas, like social media posts, sensor data, or product catalogs with varying attributes.

2. Scalability: When you need to handle large amounts of data and expect your data storage and access requirements to grow rapidly, MongoDB's horizontal scaling capabilities can be beneficial.

3. Real-time Analytics: MongoDB can be a good choice for real-time analytics and data processing due to its ability to handle large volumes of data with low latency.

4. Flexible Schema: If your application's data schema is expected to evolve over time, MongoDB's schema-less nature makes it easier to accommodate changes without major disruptions.

5. Development Speed: In Agile development environments where development cycles are rapid and requirements are prone to change, MongoDB's flexibility can speed up development.

6. Geo-spatial Data: MongoDB has built-in support for geo-spatial queries, making it a natural choice for location-based applications.

#### It's important to note that the choice between MongoDB and SQL databases depends on the specific needs of your application. While MongoDB offers advantages in certain scenarios, SQL databases still excel in situations where data consistency, ACID transactions, and complex querying are paramount. Therefore, the choice should be based on your project's requirements and use cases.

# Q2. State and Explain the features of MongoDB.

## Answer :->
### MongoDB is a popular NoSQL database management system that offers a variety of features that make it suitable for different use cases. Here are some key features of MongoDB:

1. Flexible Schema: MongoDB uses a schema-less document data model. Documents in a collection can have varying structures, allowing for flexibility in data representation. This makes it easy to handle semi-structured or unstructured data.

2. JSON-like Documents: Data in MongoDB is stored in BSON (Binary JSON) format, which is a binary-encoded representation of JSON documents. This format is human-readable and easy to work with.

3. Highly Scalable: MongoDB is designed for horizontal scalability. You can add more servers or clusters to distribute data and traffic, making it suitable for applications with rapidly growing data needs.

4. Automatic Sharding: MongoDB can automatically partition data across multiple servers through sharding. This helps maintain performance as data volume increases.

5. Rich Query Language: MongoDB supports a rich query language, including support for ad-hoc queries, indexing, and complex queries. It also offers text search and geospatial queries.

6. Secondary Indexes: You can create secondary indexes on fields in MongoDB, which improves query performance by allowing for efficient data retrieval.

7. Aggregation Framework: MongoDB provides a powerful aggregation framework for performing complex data transformations, filtering, and computations within the database.

8. Replication: MongoDB supports replica sets, which provide data redundancy and high availability. Replication ensures that data remains accessible even if one server fails.

9. Data Consistency: MongoDB offers tunable data consistency. You can choose between strong consistency (similar to traditional databases) or eventual consistency, depending on your application's requirements.

10. Security: MongoDB has robust security features, including authentication, authorization, encryption, and auditing. It provides role-based access control (RBAC) for managing user permissions.

11. Load Balancing: MongoDB supports automatic load balancing, distributing read and write operations across the replica set members to improve performance and reliability.

12. Geospatial Data Support: MongoDB includes native support for geospatial data and queries, making it suitable for location-based applications.

13. Text Search: It offers full-text search capabilities, enabling users to search for text within documents efficiently.

14. Change Streams: MongoDB allows applications to subscribe to real-time changes in the database using change streams. This is useful for building reactive and event-driven applications.

15. Cloud Integration: MongoDB Atlas, a managed database service by MongoDB, provides cloud-based deployment options, making it easy to deploy, scale, and manage MongoDB in popular cloud providers.

16. Community and Ecosystem: MongoDB has a large and active community, with extensive documentation, drivers for various programming languages, and a marketplace for third-party integrations and extensions.

#### These features make MongoDB a versatile choice for a wide range of applications, from web and mobile apps to IoT and big data analytics, where flexible data modeling, scalability, and real-time data access are essential.

# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

## Answer :->
### To connect MongoDB to Python,we can use the popular MongoDB driver for Python called "PyMongo
# Install PyMongo

In [3]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\wajid\anaconda3\lib\site-packages (3.11.0)
Note: you may need to restart the kernel to use updated packages.

# Import PyMongo and Connect to MongoDB:

In [4]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://pwskills:pwskills@cluster0.ewczp8m.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

## For create a database and a collection in MongoDB we have to write some line of code after the connection to the MongoDB.

In [5]:
client = MongoClient(uri)

In [6]:
db = client['datascience']

In [7]:
coll_create = db["mongodb"]

In [9]:
data = {"name" : "wajid",
        "class" : "data science master",
        "course" : "3500₹",
        "timing" : "flexiwal"
}

In [10]:
coll_create.insert_one(data)

# Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

## Answer :->
# The code for insert one record

In [11]:
data1 = {"mail_id" : "datasceince373@gmail.com",
         "phone_number" : 9717145898
}

In [12]:
coll_create.insert_one(data1)

In [13]:
data2 = {"list_course" : ["data science masters " , "web dev " , "java with DSA"],
        "mentor" : ["sudhanshu" , "anurag" , "hyder"]}

In [14]:
coll_create.insert_one(data2)

# The code for insert many record

In [16]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [17]:
coll_create.insert_many(data3)

In [18]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [19]:
coll_create.insert_many(random_data)

# find() method to print th inserted record

In [20]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('651e976285a3a2df23bd1d0f'), 'name': 'wajid', 'class': 'data science master', 'course': '3500₹', 'timing': 'flexiwal'}
{'_id': ObjectId('651eb2d285a3a2df23bd1d10'), 'mail_id': 'datasceince373@gmail.com', 'phone_number': 9717145898}
{'_id': ObjectId('651eb2ee85a3a2df23bd1d11'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('651eb33685a3a2df23bd1d12'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('651eb33685a3a2df23bd1d13'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('651eb33685a3a2df23bd1d14'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('651eb33685a3a2df23bd1d15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('651eb33685a3a2df23bd1d16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('651eb33685a3a2df23bd1d17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('651eb33685a3a2df23bd1d18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('651eb33685a3a2df23bd1d19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

# find_one() method to print th inserted record

In [22]:
coll_create.find_one()

{'_id': ObjectId('651e976285a3a2df23bd1d0f'),
 'name': 'wajid',
 'class': 'data science master',
 'course': '3500₹',
 'timing': 'flexiwal'}

# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

## Answer :->
### The find() method in MongoDB is used to query a collection and retrieve documents that match certain criteria. It returns a cursor, which is an iterable object that can be used to loop through the matched documents.
### Some are the find() method to query the MongoDB database.
1. Basic Querying
2. Projection
3. Sorting
4. Limiting Results
5. Skipping Documents

In [23]:
for i in coll_create.find({'companyName': 'iNeuron'}):
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [24]:
for i in coll_create.find({'_id' : {'$gte' : '4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

## Answer :->
###  The sort() method in MongoDB is used to specify the order in which documents should be returned when querying a collection. It allows you to sort the result set based on one or more fields in ascending or descending order. By default, if you do not specify a sort order, MongoDB will return documents in their natural order (insertion order).

## Example of Sorting

In [25]:
for i in coll_create.find.sort("name", pymongo.ASCENDING):
    print(i)

AttributeError: 'function' object has no attribute 'sort'

In [31]:
import pymongo
query = {}
cursor = coll_create.find(query).sort("name", pymongo.ASCENDING)

In [32]:
for docu in cursor:
    print(docu)

{'_id': ObjectId('651eb2d285a3a2df23bd1d10'), 'mail_id': 'datasceince373@gmail.com', 'phone_number': 9717145898}
{'_id': ObjectId('651eb2ee85a3a2df23bd1d11'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': ObjectId('651eb33685a3a2df23bd1d12'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('651eb33685a3a2df23bd1d16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('651eb33685a3a2df23bd1d13'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('651eb33685a3a2df23bd1d14'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('651eb33685a3a2df23bd1d17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('651eb33685a3a2df23bd1d15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('651eb33685a3a2df23bd1d18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('651eb33685a3a2df23bd1d19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('651e976285a3a2df23bd1d0f'), 'name': 'wajid', 'class': 'data science master', 'course': '3500₹', 'timing': 'flexiwal'}

#### In this example, we use the sort() method to sort the documents in the "mongodb" collection by the "name" field in ascending order. As a rest, the records will be retrieved and printed in alphabetical order based on their titles.

#### We can also sort by multiple fields by passing a list of field names to the sort() method. For example, to sort mongodb first by "name" in ascending order and then by "address" in descending order

In [33]:
cur = coll_create.find(query).sort([("name", pymongo.ASCENDING), ("address", pymongo.DESCENDING)])

In [35]:
for i in cur:
    print(i)

{'_id': ObjectId('651eb2d285a3a2df23bd1d10'), 'mail_id': 'datasceince373@gmail.com', 'phone_number': 9717145898}
{'_id': ObjectId('651eb2ee85a3a2df23bd1d11'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': ObjectId('651eb33685a3a2df23bd1d12'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('651eb33685a3a2df23bd1d16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('651eb33685a3a2df23bd1d13'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('651eb33685a3a2df23bd1d14'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('651eb33685a3a2df23bd1d17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('651eb33685a3a2df23bd1d15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('651eb33685a3a2df23bd1d18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('651eb33685a3a2df23bd1d19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('651e976285a3a2df23bd1d0f'), 'name': 'wajid', 'class': 'data science master', 'course': '3500₹', 'timing': 'flexiwal'}

### This will sort the my record mongodb primarily by name in ascending order and, in case of a tie, by address in descending order.

# Q7. Explain why delete_one(), delete_many(), and drop() is used.

## Answer :->
### In the context of databases and data manipulation, delete_one(), delete_many(), and drop() are commonly used operations in database management systems like MongoDB. These operations serve different purposes:

# delete_one():

1. Purpose: This method is used to delete a single document that matches a specified filter criteria from a MongoDB collection.
2. Usage: You would use delete_one() when you want to remove a single record (document) from a collection based on certain conditions or filters.

In [37]:
# Delete a single document where the "name" field is "wajid"
coll_create.delete_one({"name": "wajid"})

In [38]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('651eb2d285a3a2df23bd1d10'), 'mail_id': 'datasceince373@gmail.com', 'phone_number': 9717145898}
{'_id': ObjectId('651eb2ee85a3a2df23bd1d11'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('651eb33685a3a2df23bd1d12'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('651eb33685a3a2df23bd1d13'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('651eb33685a3a2df23bd1d14'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('651eb33685a3a2df23bd1d15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('651eb33685a3a2df23bd1d16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('651eb33685a3a2df23bd1d17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('651eb33685a3a2df23bd1d18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('651eb33685a3a2df23bd1d19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

## Now we see the document name with wajid is not avilabe in our record.

# delete_many():

1. Purpose: This method is used to delete multiple documents that match a specified filter criteria from a MongoDB collection.
2. Usage: delete_many() is used when you need to remove multiple records (documents) that meet certain criteria, such as deleting all documents where a specific field has a particular value.

In [42]:
# Delete all documents where the "companyName" field is "iNeuron"
coll_create.delete_many({"companyName": "iNeuron"})

In [43]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('651eb2d285a3a2df23bd1d10'), 'mail_id': 'datasceince373@gmail.com', 'phone_number': 9717145898}
{'_id': ObjectId('651eb2ee85a3a2df23bd1d11'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('651eb33685a3a2df23bd1d12'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('651eb33685a3a2df23bd1d13'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('651eb33685a3a2df23bd1d14'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('651eb33685a3a2df23bd1d15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('651eb33685a3a2df23bd1d16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('651eb33685a3a2df23bd1d17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('651eb33685a3a2df23bd1d18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('651eb33685a3a2df23bd1d19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('651eb33685a3a2df23bd1d1d'), 'name': 'Viola', 'address': 'Sideway 1633'}

## Now we see the all document with the companyName iNeuron is not avilabe in our record.

# drop():

1. Purpose: The drop() method is used to completely remove an entire collection from a MongoDB database.
2. Usage: This operation is irreversible and deletes the entire collection along with all its documents. It's typically used when you want to permanently remove a collection and all its data from the database.

In [44]:
# Drop (delete) the entire "mongodb" coll_create
coll_create.drop()

In [45]:
for i in coll_create.find():
    print(i)

## Now We can see the nothing is executed when I execute the find mehod() to print the document.

# ......................................................THE END.........................................................